:root,
page {
  font-family:
    PingFang SC,
    Microsoft YaHei,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  background-color: #f8f9fa;
  --window-bottom: calc(32rpx + env(safe-area-inset-bottom));
  --wot-color-theme: #4d80f0;
}

// tabbar
.wd-tabbar.wd-tabbar--round {
  margin-bottom: 32rpx;
}
uni-app > uni-tabbar {
  display: none !important;
}

// wd-action-sheet
.wd-popup-wrapper {
  .wd-overlay {
    z-index: 100 !important;
  }
  .wd-popup {
    z-index: 100 !important;
  }
}
