@use './components/tabbar';
@use './components/input';
@use './pages/bills';
@use './pages/my';
@use './atomic';

:root,
page {
  font-family:
    PingFang SC,
    Microsoft YaHei,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  background-color: #fefeff;
  --app-primary-color: #4299e1;
  --app-background-color: white;
  --wot-color-theme: var(--app-primary-color);
}

::-webkit-scrollbar {
  display: none;
}

view {
  box-sizing: border-box;
}

// wd-action-sheet
.wd-popup-wrapper {
  .wd-popup--bottom {
    border-radius: 32rpx 32rpx 0 0;
  }
  .wd-overlay {
    z-index: 100 !important;
  }
  .wd-popup {
    z-index: 100 !important;
  }
}

.page-header {
  position: sticky;
  top: 0;
  z-index: 100;
  font-size: 40rpx;
  font-weight: 600;
  color: #333;
  text-align: center;
  background: linear-gradient(135deg, #ffffff, #f8f9fa);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
