@use './components/tabbar';
@use './pages/bills';
@use './pages/my';
@use './atomic';

:root,
page {
  font-family:
    PingFang SC,
    Microsoft YaHei,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  background-color: var(--app-background-color);
  --app-background-color: white;
  --app-primary-color: #4299e1;
  --wot-button-primary-bg-color: var(--app-primary-color);
}

view {
  box-sizing: border-box;
}

// wd-action-sheet
.wd-popup-wrapper {
  .wd-popup--bottom {
    border-radius: 32rpx 32rpx 0 0;
  }
  .wd-overlay {
    z-index: 100 !important;
  }
  .wd-popup {
    z-index: 100 !important;
  }
}
